extends layout
block content
    div(class="container-fluid")
        h1= title
    - let results=[{tiger_color:"brown",tiger_breed:"Flemish tiger",tiger_price:200000},{tiger_color:"white",tiger_breed:"Angora tiger",jaguar_price:5600},{tiger_color:"black",tiger_breed:"black tiger",tiger_price:50000}]
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.tiger_color}             
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.tiger_breed}                
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.tiger_price}
                hr
    
    br
    h5= 'buy'

    div(class="container-fluid")
      each tiger,index in results
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>tiger #{index}: #{tiger.tiger_color} breed:#{tiger.tiger_breed} price:#{tiger.tiger_price}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }