extends layout
 
block content
  h1= title
 
  if(toShow == null)
    h2 No instance to delete
  else
    - let tigerid = toShow._id
    - let tiger_color = toShow.tiger_color
    - let tiger_breed = toShow.tiger_breed
    - let tiger_price = toShow.tiger_price
    - let actionid = "/resource/tigers/" + tigerid
    script let actionid = "#{actionid}"
    div
     div.row
      div(class='tigerAttr mr-3') tiger ID is:
      div #{tigerid}
     div.row
      div(class='tigerAttr mr-3') tiger color is:
      div #{tiger_color}
     div.row
      div(class='tigerAttr mr-3') tiger breed is:
      div #{tiger_breed}
     div.row
      div(class='tigerAttr mr-3') tiger Price is:
      div #{tiger_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/tigers'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/tiger'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }